body {
    background-color: #f1f1f1;
}

#board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    display: flex;
}

.square, .square-null {
    width: 40px;
    height: 40px;
    background-color: rgb(68, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px darkgray;
    border: 1px solid white;
    color: white;
    font-size: 20pt;
    border-radius: 5px;
}

.square:hover {
    border: 1px solid rgb(128, 0, 255);
}

.square-null {
    background-color: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: initial;
}